.Clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    position: absolute;

    //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    //ES ESE IDIOTOBAAA
    right: 20px;
    transform: translate(0, -18%);
    //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

    color: #9364CC;
    font-weight: 500;

    h3 {
        align-self: center;
        font-size: 72px !important;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: grey;
    }
}